@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

.App {
  width: 100%;
  height: 100vh;
  background-color: hsl(36, 100%, 99%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  width: 70%;
  height: 10%;
  display: grid;
  /* column-gap: 2%; */
  grid-template-columns: 58% 8% 8% 8% 8% 10% ;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  margin-top: 2%;
  color: hsl(236, 13%, 42%);
}

.item {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.item:hover{  
  color: hsl(35, 77%, 62%);
}

.wrapper {
  width: 70%;
  height: 55%;
  display: grid;
  column-gap: 2%;
  grid-template-columns: 64% 34% ;
  justify-content: center;
  align-items: center;
  /* background-color: #0d2127; */
}

.left {
  width: 100%;
  height: 100%; 
  display: grid;
  grid-template-rows: 66% 40% ;
}

.left1 {
  width: 100%;
  height: 100%; 
  background-image: url('../src/assets/image-web-3-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #61dafb; */
}

.left2 {
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 2%;
  grid-template-columns: 40% 49%;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #e60b0b; */
}

.bright {
  width: 100%;
  height: 80%;
  height: fit-content ;
  color: hsl(240, 100%, 5%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2px;
  line-height:90%;
}

.readMore {
  width: 100%;
  height: 80%;
  font-family: 'Inter', sans-serif;
  display: grid;
  /* column-gap: 2%; */
  grid-template-rows: 60% 40%;
  font-weight: 400;
  /* background-color: #1d1010; */
}

.readBody {
  width: 95%;
  color: hsl(236, 13%, 42%);
  font-size: 16px;
}

.button {
  height: 80%;
  width: 50%;
  display: grid;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  background-color: hsl(5, 85%, 63%);
  letter-spacing: 3px;
  border: none;
  color: hsl(36, 100%, 99%);
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  background-color: hsl(240, 100%, 5%);
}

.right {
  width: 100%;
  height: 100%; 
  background-color: hsl(240, 100%, 5%);
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 80%; 
  background-color: hsl(240, 100%, 5%);
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news {
  width: 80%;
  height: fit-content ;
  color: hsl(35, 77%, 62%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.newsWrapper {
  width: 80%;
  height: 35%;
  /* margin-top: 5%; */
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.title {
  height: fit-content ;
  color: hsl(36, 100%, 99%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.title:hover {  
  color: hsl(35, 77%, 62%);
}

.body {  
  height: 100% ;
  /* background-color: #fff; */
  color: hsl(233, 8%, 79%);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.bottomWrapper {
  width: 70%;
  height: 25%;
  display: grid;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  align-items: center;
  grid-template-columns: 31% 31% 31% ;
  /* background-color: aliceblue; */

}

.bottomItem{
  height: 100%;
  display: grid;
  align-items: center;
  font-family: 'Inter', sans-serif;
  grid-template-columns: 35% 60% ;
}

.imagine {
  height: 60%;
}

.bottomContainer {
  height: 70%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  grid-template-rows: 30% 20% 50% ;

}

.bottomNumber {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: hsl(233, 8%, 79%);
}

.bottomTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: hsl(240, 100%, 5%);
}


.bottomTitle:hover {  
  color: hsl(35, 77%, 62%);
}

.bottomBody{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(236, 13%, 42%);
}

.menuIcon {
  display: none;
}

@media only screen and (max-width: 540px) {

  .App {
    height: fit-content;
  }
  .item {
    display: none;
  }

  .navbar {
    width: 90%;
    height: 10%;
    display: grid;
    column-gap: 30%;
    grid-template-columns: 58% 10% ;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    margin-top: 2%;
    margin-bottom: 1%;
    color: hsl(236, 13%, 42%);
  }

  .menuIcon {
    display: flex;
  }

  .menu{
    width: 70%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background-color: hsl(36, 100%, 99%);    
    grid-template-rows: 15% 30% ;
  }

  .imgHold {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
  }

  .close {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    /* background-color: rgb(223, 141, 35); */
  }

  .boxhold {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .box {
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
    font-weight:500;
    color: hsl(240, 100%, 5%);
  }
  .box:hover {  
    color: hsl(35, 77%, 62%);
  }

  .wrapper {
    width: 90%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    /* background-color: #0d2127; */
  }
  
  .left {
    width: 100%;
    height: 50%; 
    display: flex;
    flex-direction: column;
    /* background-color: #05b4e9; */
  }
  
  .left1 {
    width: 100%;
    height: 45%; 
    background-image: url('../src/assets/image-web-3-mobile.jpg');
    /* background-color: #61dafb; */
  }

  .left2 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: #e60b0b; */
  }

  .bright {
    width: 100%;
    height: 40%;
    font-size: 40px;
    margin-top: 12px;
  }
  
  .readMore {
    width: 100%;
    height: 50%;
  }
  
  .readBody {
    width: 100%;
    color: hsl(236, 13%, 42%);
    font-size: 16px;
    line-height: 150%;
  }
  
  .button {
    height: 80%;
    width: 50%;
  }
 
  .right {
    width: 100%;
    height: 40%; 
    display: flex;
    flex-direction: column;
    background-color: #ececec;
  }

  .container { 
    height: 100%;
    padding-top: 10%;
  }

  .bottomWrapper {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    align-items: center;
    margin-bottom: 50px;
    /* background-color: aliceblue; */
  
  }
  
  .bottomItem{
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .imagine {
    width: 35%;
    height: 100%;
  }
  
  .bottomContainer {
    height: 100%;
    width: 60%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    /* background-color: #fff; */
  }
  
  .bottomNumber {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: hsl(233, 8%, 79%);
  }
  
  .bottomTitle {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: hsl(240, 100%, 5%);
  }
  
  
  .bottomTitle:hover {  
    color: hsl(35, 77%, 62%);
  }
  
  .bottomBody{
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(236, 13%, 42%);
  }
  
}